
:root {
    /* grandezze */
    --text-l:40px;
    --text-m:30px;
    /* colore */
    --light-grey: #F5F5F5;
    --black: #4C5D55;
    --red: #FD6B67;
}

.text-l {
    font-size: var(--text-l);
}
.text-m {
    font-size: var(--text-m);
}
.bg-black {
    background-color: var(--black);
}


.m-l-40 {
    margin-left: 40px;
}

.vw03 {
    width: calc(100vw / 3);
}
.t-a {
    text-align: center;   
}

.circle-sm {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.circle-xl {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.icon-hover:hover {
    color: var(--light-grey);  
    background-color: var(--black);
}

.icon-hover {
    transition: all 0.3s linear;
    color: var(--black);
    background-color: var(--light-grey);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.object-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
